<template>
    <div class="home">
        <vHeader/>
        <vNav/>
        <vSection title="КОМБО"/>
        <vSection title="ПИЦЦА"/>
        <vSection title="ЗАКУСКИ"/>
    </div>
</template>

<script>
    import vHeader from "../components/vHeader";
    import vNav from "../components/vNav";
    import vSection from "../components/vSection";

    export default {
        name: 'Home',
        components: {vHeader, vNav, vSection}
    }
</script>
