<template>
    <div class="row item">
        <div class="item-image">
            <img src="@/assets/images/card.jpg">
        </div>
        <div class="item-info">
            <div class="item-name">Название</div>
            <div class="row item-length">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <div class="item-price">1337 ₸</div>
        </div>
        <div class="item-remove">&times;</div>
    </div>
</template>

<script>
    export default {
        name: "vCartItem"
    }
</script>