<template>
    <div class="card">
        <div class="card-image">
            <img src="@/assets/images/card2.jpg">
            <div class="card-tags">
                <div class="card-tag new">Новинка</div>
                <div class="card-tag heat">Хит</div>
            </div>
            <div class="card-categories">
                <div class="card-category">Острый</div>
                <div class="card-category">без свинины</div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-title">Название</div>
            <div class="row card-info">
                <div class="card-price">1337 ₸</div>
                <button class="card-btn" @click="open">
                    Выбрать
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "vCard",
        methods: {
            open() {
                this.$emit('openModal')
            }
        }
    }
</script>