<template>
  <header class="header">
    <div class="wrapper">
      <div class="row header-row">
        <router-link to="/" class="row logo">
          <img src="@/assets/images/logo.png">
          <div class="logo-title">Служба доставки пиццы в Павлодаре</div>
        </router-link>
        <div class="header-contacts"></div>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
    name: "vHeader",
    computed: {
      offsetTop() {
        return
      }
    }
  }
</script>
