<template>
    <div class="overlay" v-if="show" @click.self="closeModal">
        <div class="modal">
            <div class="modal-close" @click="closeModal">&times;</div>
            <div class="align-top modal-content">
                <div class="card-image">
                    <img src="@/assets/images/card.jpg">
                    <div class="card-tags">
                        <div class="card-tag new">Новинка</div>
                        <div class="card-tag heat">Хит</div>
                    </div>
                    <div class="card-categories">
                        <div class="card-category">Острый</div>
                        <div class="card-category">без свинины</div>
                    </div>
                </div>
                <div class="modal-info">
                    <div class="modal-title">Пепперони</div>
                    <div class="modal-elems">
                        <span class="modal-elem">Соус томатный, </span>
                        <span class="modal-elem">Сыр Моцарелла, </span>
                        <span class="modal-elem">Колбаска Пепперони.</span>
                    </div>
                    <div class="modal-weight">
                        Вес: 228 ± 322
                    </div>

                    <div class="modal-upgrade">
                        <b class="other">Дополнительные ингридиенты:</b>
                        <div class="row">
                            <div class="item-name">Сыр</div>
                            <div class="row item-length">
                                <button>-</button>
                                <span>1</span>
                                <button>+</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item-name">Пепперони</div>
                            <div class="row item-length">
                                <button>-</button>
                                <span>1</span>
                                <button>+</button>
                            </div>
                        </div>
                    </div>

                    <div class="row card-info">
                        <div class="card-price">1337 ₸</div>
                        <button class="card-btn">
                            В корзину
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "vModal",
        data() {
            return {
                show: false,
            }
        },
        methods: {
            openModal() {
                this.show = true;
                const wd = window.innerWidth - 17;
                document.querySelector('body').classList.add('no-scroll');
                document.querySelector('body').style.width = wd + 'px';
            },
            closeModal() {
                this.show = false;
                document.querySelector('body').classList.remove('no-scroll');
            }

        }
    }
</script>