<template>
    <nav class="nav">
        <div class="nav-list">
            <div class="row wrapper">
                <div class="row nav-wrap" :class="{animate: top >= 100}">
                    <div class="logo-mini">
                        <img src="@/assets/images/logo.png">
                    </div>
                    <a href="#" class="nav-item" v-for="(item, key) in 8">{{ 'item' + item }}</a>
                </div>
                <div class="mini-cart">
                    <span>Корзина (1)</span>
                    <div class="hidden-cart">
                        <vCartItem/>

                        <a href="#" class="to-cart">Перейти в корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    import vCartItem from "./vCartItem";

    export default {
        name: "vNav",
        components: {vCartItem},
        data() {
            return {
                top: 0
            }
        },
        methods: {
            onScroll(event) {
                this.top = pageYOffset;
            }
        },
        mounted() {
            window.addEventListener('scroll', this.onScroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.onScroll);
        },
    }
</script>
