<template>
    <section class="section">
        <div class="wrapper">
            <h3 class="section-title">{{title}}</h3>
            <div class="cards">
                <vCard v-for="card in 8" @openModal="showModal"/>
            </div>
        </div>

        <vModal ref="cardModal"/>
    </section>
</template>

<script>
    import vCard from "./vCard";
    import vModal from "./vModal";

    export default {
        name: "vSection",
        components: {
            vCard, vModal
        },
        props: {
            title: {
                type: String
            }
        },
        methods: {
            showModal() {
                this.$refs.cardModal.openModal();
            }
        }
    }
</script>