@import "normalize";
@import "fonts";
@import "variables";

.layout {
  min-height: 200vh;
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 15px 0;
  max-height: 100px;

  &-contacts {
    margin-left: auto;
  }
}

.logo {
  img {
    max-width: 120px;
  }

  &-title {
    margin-left: 25px;
    max-width: 200px;
    .sb();
    font-size: 18px;
    line-height: 120%;
  }

  &-mini {
    max-width: 50px;
    position: absolute;
    left: -65px;
    transition: .5s;
  }
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.4);
  z-index: 2;

  &-list {
    background: #f6f6f6;
  }

  &-wrap {
    overflow: hidden;
    position: relative;
    transition: .5s;

    &.animate {
      padding-left: 65px;
      transition: .5s;

      .logo-mini {
        left: 0;
        transition: .5s;
      }
    }
  }

  &-item {
    display: inline-block;
    padding: 15px;
    line-height: 120%;
    .medium();
    text-transform: uppercase;
  }
}

.section {
  padding: 40px 0 20px 0;

  .wrapper {
    max-width: 1140px;
    padding: 0;
  }

  &-title {
    padding-left: 15px;
    .bold();
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: -40px;
}

.card {
  width: 25%;
  flex-shrink: 0;
  padding: 0 15px;
  margin-bottom: 40px;

  &-image {
    width: 100%;
    height: 255px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-body {
    height: calc(100% - 255px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-title {
    padding: 10px 0 5px 0;
    .bold();
    font-size: 18px;
    line-height: 120%;
  }

  &-info {
    margin-top: 10px;
    width: 100%;
  }

  &-price {
    .bold();
    font-size: 24px;
  }

  &-btn {
    display: inline-block;
    margin-left: auto;
    padding: 10px 15px;
    .medium();
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #fd0f0f;
    color: #fd0f0f;
    border-radius: 8px;
  }

  &-categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  &-category {
    font-size: 14px;
    line-height: 120%;
    padding: 5px 10px;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    border-radius: 4px;
    .medium();
    margin: 4px 0;
  }

  &-tags {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &-tag {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 4px;
    .medium();
    color: #FFF;
    margin: 0 0 4px 0;

    &.new {
      background: #32c5ff;
    }

    &.heat {
      background: #2ce020;
    }
  }
}

.mini-cart {
  margin-left: auto;
  height: 100%;
  color: #fff;
  background-color: #fd0f0f;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.4);
  .sb();
  cursor: pointer;
  position: relative;

  &:hover {
    .hidden-cart {
      display: block;
    }
  }
}

.hidden-cart {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: #FFF;
  padding: 15px;
  z-index: 3;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.4);
  color: #000;

  &::after {
    content: '';
    position: absolute;
    top: -11px;
    left: 0;
    width: 100%;
    border-top: 11px solid transparent;
  }
}

.item {
  margin-bottom: 20px;
  position: relative;

  &-image {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }

  &-info {
    margin-left: 20px;
    min-width: 150px;
    max-width: 150px;
  }

  &-name {
    font-size: 16px;
    line-height: 120%;
    .medium();
    padding-right: 20px;
  }

  &-length {
    font-size: 14px;
    margin: 10px 0;

    button {
      display: block;
      width: 24px;
      height: 24px;
      border: 1px solid rgb(252, 14, 14);
      border-radius: 4px;
      font-size: 16px;
      .medium();
    }

    span {
      display: block;
      margin: 0 15px;
    }
  }

  &-price {
    font-size: 16px;
    .sb();
  }

  &-remove {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
  }
}

.to-cart {
  display: inline-block;
  margin-top: 20px;
  margin-left: auto;
  color: #fd0f0f;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
  background: rgba(0, 0, 0, .5);
  overflow-y: auto;
}

.modal {
  position: relative;
  background: #FFF;
  z-index: 4;
  padding: 40px;
  margin: 100px 50px;
  width: 50%;

  &-close {
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 48px;
    line-height: 20px;
    color: #000;
    cursor: pointer;
  }

  .card-image {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    margin-right: 40px;

    img {
      width: 100%;
    }
  }

  &-info {
    width: 100%;
  }

  &-title {
    .bold();
    font-size: 30px;
    padding-right: 40px;
  }

  &-elems {
    margin-top: 16px;
    font-size: 16px;
  }

  &-weight {
    margin-top: 16px;
    font-size: 16px;
    color: rgba(0, 0, 0, .45);
  }

  &-upgrade {
    margin-top: 20px;
  }

  .other {
    .bold();
    font-size: 20px;
  }
}
